 
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Techothlon Login</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
  <link rel="stylesheet" href="/static/assets/css/cs-skin-elastic.css">
  <link rel="stylesheet" href="/static/assets/css/style.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
	<div style="height: 200px; width: auto;"></div>
	<div class="row" style="margin-left:0px; margin-right: 0px;">
	<div class="col-md-3"></div>
	<div class="col-xs-12 col-md-6">
		<div class="card">
			<div class="card-body card-block" style="padding:25px;">
				<h3 class="text-center">Log In</h3>
				<br>
				{%if messages|length > 0%}
				<div>
					{%for message in messages%}
					<div class="{{message.0}}"> {{message.1}}</div>
					{%endfor%}
				</div>
				<br>
				{%endif%}
				<form method="POST">
					{%csrf_token%}
					<div class="form-group">
						<div class="input-group">
							<input type="text" max-length="100" id="roll_no" name="roll_no" placeholder="Roll Number" class="form-control" required>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">	
							<input type="password" max-length="100" id="password" name="password" placeholder="Password" class="form-control" required>
						</div>
					</div>
					<div class="text-center">
						<button style="padding-left:25px; padding-right:25px;" type="submit" class="btn btn-success">Login</button>				
					</div>
				</form>
				<br>
				</div>
			</div>
		</div>
	<div class="col-md-3"></div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
</body>
</html>